$small-desktop: 960px;
$large-desktop: 1200px;
$handheld: 768px;
$handheld-landscape: 1024px;
$mobile: 640px;
$mobile-landscape: 480px;

@mixin respond-to($media) {
  @if $media == largeDesktop {
    @media only screen and (min-width: $large-desktop) {
      .main-box{
      }
    }
  }
  @if $media == smallDesktop {
    @media only screen and (max-width: $small-desktop) {
      .main-box{
        overflow: scroll;
      }
    }
  }
  @if $media == handheld {
    @media only screen and (max-width: $handheld) {
      .main-box{
        overflow: scroll;
      }
    }
  }
  @if $media == handheld-landscape {
    @media only screen  and (min-device-width : $handheld)
    and (max-device-width : $handheld-landscape)
    and (orientation : landscape){ @content; }
  }
  @if $media == mobile {
    @media only screen and (max-width: $mobile) {
      .main-box{
        overflow: scroll;
      }
    }
  }
  @if $media == mobile-portrait {
    @media only screen  and (max-width: $mobile)
    and (orientation : portrait) {
      .main-box{
        overflow: scroll;
      }
    }
  }
  @if $media == mobile-landscape {
    @media only screen  and (min-width: 320px)
    and (max-width: $mobile-landscape)
    and (orientation : landscape) {
      .main-box{
        overflow: scroll;
      }
    }
  }

  @if $media == retina {
    @media (-webkit-min-device-pixel-ratio: 2) { @content; }
  }

  @if $media == iphone5 {
    @media only screen and (device-aspect-ratio: 40/71) {
      .main-box{
        overflow: scroll;
      }
    }
  }
}
